//-------------------- Introduction --------------------//

//- HTML title & meta
-
  head = {
    title: "Eric David | Front-End Developer",
    description: "Eric David front-end developer",
    keywords: "resume, front-end developer",
    author: "Eric David"
  }

//- Header
    Set header image in introduction.sass
-
  name = {
    first: "Eric",
    last: "David"
  }

//- Basic contact and online presence
    ONLY change the phone numbers, maintain "tel:" in the href
    ONLY change the email addresses, maintain "mailto:" in the href
-
  basics = {
    Call: {
      display: "713-213-6394",
      href: "tel:713-213-6394"
    },
    Mail: {
      display: "ericdavid365@gmail.com",
      href: "mailto:ericdavid365@gmail.com"
    },
    Web: {
      display: "ericdavid.io",
      href: "http://ericdavid.io"
    }
  }


//- Objective / Executive Summary / About
- blurb = "<span>Welcome!</span> I am a front-end web developer with back-end familiarity who solves problems logically and efficiently. With an analytical and detail-oriented mindset, I develop projects with an attention to user experience and simple functionality. Previous work exemplifies my ability to learn new concepts and work as a team, ideal for creating innovative and useful products."

//- Online elsewhere
-
  socials = {
    GitHub: {
      display: "e-david",
      url: "https://github.com/e-david"
    }
  }

//-------------------- Primary --------------------//

//- Experience section
    If no url exists: remove the "url" option entirely
-
  experience = {
    heading: "Experience",
    content: {
      "ScheduleSimply": {
        date: "2016",
        role: "Full-Stack Developer",
        description: "This app helps create a manageable block of tasks, then schedules the block to your Google Calendar based on your availability. Built with React, Backbone, jQuery, MongoDB, Express, Node, Google API, and the Materialize CSS framework.",
        url: "http://www.github.com/E-David/ScheduleSimply"
      },
      "Twitter Clone": {
        date: "2016",
        role: "Front-End Developer",
        description: "A collaboration of developers created a clone of Twitter. Contributions included tweet search function and displaying tweets and tweet information using JavaScript, Backbone, jQuery, and React.",
        url: "http://github.com/E-David/twitter-clone"
      },
      "Connect Four": {
        date: "2016",
        role: "Back-End Developer",
        description: "Connect Four game in Ruby guided by the TDD (test driven development) process using RSpec. Emphasizes minimum responsibility object-oriented class design.",
        url: "http://github.com/E-David/connect_four"
      },
      "Veterans Health Administration": {
        date: "2015-2016",
        role: "Health Science Specialist",
        description: "Designed Microsoft Access databases using logical validation rules to ensure clean data entry. Interpreted feedback reports for doctors and staff to help improve care coordination."
      },
      "Baylor College of Medicine": {
        date: "2012-2015",
        role: "Research Coordinator",
        description: "Developed Access queries to improve speed of data analysis and correct data entry errors. Called and tracked 600+ participants for questions to determine eligibility for program."
      }
    }
  }


//- Education section
-
  education = {
    heading: "Education",
    content: {
      "Graduated University of Texas 2016": "BA in Psychology with Departmental and Liberal Arts Honors and Minor in Spanish"
    }
  }

//- Hobbies section
-
  hobbies = {
    heading: "Hobbies",
    list: "Weight Lifting, Psychology, Craft Beer, Video Games."
  }

//- Skills section
    Skill svgs must be added/removed directly from index.pug
-
  skills = {
    heading: "Skills",
    list: "JavaScript, React, jQuery, Backbone, HTML5, CSS3, Sass, Materialize, npm, Ruby, Git, GitHub"
  }
