//-------------------- Introduction --------------------//

//- HTML title & meta
-
  head = {
    title: "Eric David | Front-End Developer",
    description: "Eric David front-end developer",
    keywords: "resume, front-end developer",
    author: "Eric David"
  }

//- Header
    Set header image in introduction.sass
-
  name = {
    first: "Eric",
    last: "David"
  }

//- Basic contact and online presence
    ONLY change the phone numbers, maintain "tel:" in the href
    ONLY change the email addresses, maintain "mailto:" in the href
-
  basics = {
    Call: {
      display: "713-213-6394",
      href: "tel:713-213-6394"
    },
    Mail: {
      display: "ericdavid365@gmail.com",
      href: "mailto:ericdavid365@gmail.com"
    },
    Web: {
      display: "ericdavid.io",
      href: "http://ericdavid.io"
    }
  }


//- Objective / Executive Summary / About
- blurb = "<span>Welcome!</span> I am a frontend web developer with backend familiarity who solves problems logically and efficiently. I maintain a balance of an analytical and detail-oriented mindset with an attention to user experience. I also have a proven ability to learn new concepts and work as a team, ideal for creating simple and useful products together."

//- Online elsewhere
-
  socials = {
    GitHub: {
      display: "e-david",
      url: "https://github.com/e-david"
    }
  }

//-------------------- Primary --------------------//

//- Experience section
    If no url exists: remove the "url" option entirely
-
  experience = {
    heading: "Experience",
    content: {
      "ScheduleSimply": {
        date: "2016",
        role: "Full-Stack Developer",
        description: "App that schedules a manageable block of tasks to your Google Calendar based on your availability. Built with React, Backbone, jQuery, MongoDB, Express, Node, Google API, and Materialize CSS framework.",
        url: "github.com/E-David/ScheduleSimply"
      },
      "Twitter Clone": {
        date: "2016",
        role: "Front-End Developer",
        description: "Collaboration of developers to create a clone of Twitter. Duties included displaying tweets and tweet information using JavaScript, Backbone, and React.",
        url: "github.com/E-David/twitter-clone"
      },
      "Connect Four": {
        date: "2016",
        role: "Back-End Developer",
        description: "Connect Four game in Ruby guided by the TDD (test driven development) process using RSpec. Emphasizes minimum responsibility object-oriented class design.",
        url: "github.com/E-David/connect_four"
      }
    }
  }


//- Education section
-
  education = {
    heading: "Education",
    content: {
      "Graduated University of Texas 2016": "BA in Psychology"
    }
  }

//- Hobbies section
-
  hobbies = {
    heading: "Hobbies",
    list: "Weight Lifting, Psychology, Learning New Games, Making Shortcuts."
  }

//- Skills section
    Skill svgs must be added/removed directly from index.pug
-
  skills = {
    heading: "Skills",
    list: "JavaScript, React, Ruby, Ruby on Rails, jQuery, Backbone, HTML5, CSS3, Sass, Materialize, npm, Git, GitHub"
  }
